<!-- Newsletter Signup Form -->
<div class="newsletter-section">
  <div class="newsletter-signup">
    <p>Subscribe to get notified when I publish new posts.</p>
    
    <!-- Standard form submission that actually works -->
    <form action="https://buttondown.email/api/emails/embed-subscribe/pardis" method="post" class="newsletter-form" id="newsletter-form">
      <div class="form-group">
        <input 
          type="email" 
          name="email" 
          id="newsletter-email" 
          placeholder="Enter your email address" 
          required
          class="newsletter-input"
        >
        <button type="submit" class="newsletter-button">Subscribe</button>
      </div>
      <input type="hidden" value="1" name="embed">
      <div id="newsletter-message" class="newsletter-message"></div>
    </form>
  </div>
</div> 