<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">

          <h3 class="masthead-title">
            <!-- <a href="{{ site.baseurl }}/">Bio</a> &nbsp; -->

            <center>
              {% for node in site.pages_list %}
                {% if page.title == node[0] %}
                  <span style="background-color: #FFFF99"><a href="{{ node[1]  }}">{{ node[0] }}{% if node[0] == 'Pod' %}<sup style="color: #FF99D6; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 0.6em; font-weight: bold;">NEW!</sup>{% endif %}</a></span>
                {% else %}
                  <a href="{{ node[1]  }}" {% if node[0] == 'Pod' %}class="pod-link"{% endif %}>{{ node[0] }}{% if node[0] == 'Pod' %}<sup style="color: #FF99D6; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 0.6em; font-weight: bold;">NEW!</sup>{% endif %}</a>
                {% endif %}
                 &nbsp;
              {% endfor %}

            </center>
          </h3>

        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>

      <div class="copyright">
        <div><span>© {{ site.time | date: '%Y' }} Pardis Noorzad.</span></div>
      </div>

    </div>

    <!-- <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script> -->



    <!-- Code copy functionality script -->
    <script src="{{ site.baseurl }}/public/js/code-copy.js"></script>
    
    <!-- Reference back-links script -->
    <script src="{{ site.baseurl }}/public/js/ref-backlinks.js"></script>
  </body>
</html>
