<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <div class="wrap">
      <div class="masthead">
        <div class="container">

          <h3 class="masthead-title">
            <center>
              {% for node in site.pages_list %}
                {% assign is_active = false %}
                {% if page.title contains node[0] or page.title == node[0] %}
                  {% assign is_active = true %}
                {% elsif node[0] == 'Blog' and page.layout == 'post' %}
                  {% assign is_active = true %}
                {% endif %}
                
                {% if is_active %}
                  <span style="background-color: #FFFF99"><a href="{{ node[1]  }}">{{ node[0] }}</a></span>
                {% else %}
                  <a href="{{ node[1]  }}" {% if node[0] == '107 Wins' %}class="pod-link"{% endif %}>{{ node[0] }}</a>
                {% endif %}
                 &nbsp;
              {% endfor %}
            </center>
          </h3>

        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>

      <!-- Newsletter Signup Form -->
      {% unless page.url == '/subscribe/' %}
      {% include newsletter-signup.html %}
      {% endunless %}

      <div class="copyright">
        <div><span>© {{ site.time | date: '%Y' }} Pardis Noorzad.</span></div>
      </div>

    </div>

    <!-- Code copy functionality script -->
    <script src="{{ site.baseurl }}/public/js/code-copy.js"></script>
    
    <!-- Reference back-links script -->
    <script src="{{ site.baseurl }}/public/js/ref-backlinks.js"></script>
    
    <!-- Image optimization script -->
    <script src="{{ site.baseurl }}/public/js/image-optimization.js"></script>
  </body>
</html>
