---
layout: default
---



<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  {% if page.subtitle %}
  <h2 class="post-subtitle">{{ page.subtitle }}</h2>
  {% endif %}
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
  
  <!-- Post-End Subscribe Prompt -->
  {% include post-end-subscribe.html %}
</div>

{% if site.related_posts.size > 0 %}
<div class="related">
  <h2>Related posts</h2>
  <div class="link-cards related-posts-cards">
    {% for post in site.related_posts limit:3 %}
      <a class="link-card" href="{{ site.baseurl }}{{ post.url }}">
        <div class="link-card-image"{% if post.image %} style="background-image: url('{{ post.image | relative_url }}')"{% endif %}></div>
        <div class="link-card-body">
          <span class="link-card-title">{{ post.title }}</span>
          <span class="link-card-domain">{{ post.date | date_to_string }}</span>
        </div>
      </a>
    {% endfor %}
  </div>
</div>
{% endif %}
